@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;900&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  *{
    box-sizing:inherit;
  }


  h1{
    font-size: 35px;
    font-weight: 900;
  }

  p{
    font-weight: 400;
    font-size: 20px;
  }

/*  - - - - - - - -  layout principal  - - - - - - - - -  */
.layout__grid{
    display: grid;
    grid-template-columns: 2fr 4fr;
    height: 100vh;
}

@media (min-width: 768px){
    .layout__grid{
        grid-template-columns: 2fr 5fr;
    }
}

@media (min-width: 1150px){
  .layout__grid{
      grid-template-columns: 2fr 7fr;
  }
}



.layout__barra{
    background-color: indigo;
    padding: 20px;
}

.layout__contenido{
    background-color: rgb(240, 240, 240);
    overflow-y: scroll;
    padding: 20px;
}


.sidebar__logo{
    margin: 50px auto;

}

.sidebar__categoria{
  display: flex;
  gap: 10px;
  /* margin-bottom: 30px; */
  transition: all 0.3s;
  padding: 15px;
}

.sidebar__categoria:hover{
  transform: translateY(-5px);
  background-color: #facc16;
  
}

.categoria__seleccionada{
  background-color: #facc16;
}


.sidebar__btn{
  font-size: 15px;
  font-weight: 900;
  cursor: pointer;
}

@media (min-width: 768px){
  .sidebar__btn{
    font-size: 16px;
  }
}

@media (min-width: 968px){
  .sidebar__btn{
    font-size: 21px;
  }
}

/*  - - - - - - - - contenido de lista de alimentos - - - - - - - - - -  */
.layout__contenido{
  padding: 20px;
}

.layout__data{
  margin-top: 50px;
}
/*  - - - - - - - -  lista de prodcutos - - - - - - - - - -  */
.layout__productos{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 920px){
  .layout__productos{
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.layout__productoItem{
  padding: 10px;
  margin:15px;
  border-radius: 10px;
  border: 1px solid #2020203e;
}

.imagen__producto{
  object-fit:unset;
  margin: 0 auto;
}

.nombre__producto{
  margin-top: 10px;
}

.precio__item{
  font-weight: 900;
}

.producto__btn__agregar{
  background-color: #f9d266;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  font-weight: 600;
  transition: all 0.3s;
}

.producto__btn__agregar:hover{
  background-color:#d9ac32;
  transform: translateY(-5px);
}




/*  - - - - - - - -  modal de prodcuto seleccionado - - - - - - - - - -  */
.grid__modalProdcuto{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.boton__modal{
  text-align: end;
  font-weight: 600;
}

.producto__modal{
  font-weight: 600;
  font-size: 20px;
}

.precio__modal{
font-size: 45px;
font-weight: 900;
color:#d9ac32;
}

.cantidades__modal{
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.numero__cantidad__modal{
  font-size: 25px;
  font-weight: 900;
}

.btn__pedido__modal{
  background-color: #4b1582;
  color: white;
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}



/*  - - - - - - - -  barra progreso - - - - - - - - - -  */
.barra__progreso{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.barra__btn{
  background-color: #4b1582;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.contenedor__paso__barra{
  margin-top: 10px;
  border-radius: 10px;
  background-color: #d7d7d7;
  text-align: center;
  color: white;
  height: 10px;
}

.barra__paso{
  margin-top: 10px;
  border-radius: 10px;
  background-color: #facc16;
  text-align: center;
  color: white;
  height: 10px;
  /* width: 50%; */
}


/*  - - - - - - - -  pagina de resumen - - - - - - - - - -  */
.contendor__resumen{
  margin-top: 50px;
}

.producto__individial__resumen{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
}

.producto__resumen_info{
  padding: 10px;
}

.producto__resumen__nombre{
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 10px;
}

.producto__resumen__cantidad{
  color: #d9ac32;
  background-color: #4b1582;
  width: 150px;
  border-radius: 10px;
  text-align: center;
}

.producto__resumen_btn{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.producto__resumen_btn button{
  border-radius: 10px;
  color: white;
  padding:  5px 0;
  display: flex;
  justify-content: space-evenly;
  width: 110px;
}


.btn__editar{
  background-color: #c2a017;
}

.btn__eliminar{
  background-color: red;
  margin-top: 5px;
}




/*  - - - - - - - -  pagina de total - - - - - - - - - -  */
.contendor__total{
  margin-top: 50px;
}

.formulario__total{
  margin-top: 10px;
}

.formulario__item__total{
  margin-bottom: 15px;
}

.formulario__label{
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.formulario__input{
  border-radius: 10px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.264);
}

.formulario__cuenta{
  font-weight: 600;
  margin-top: 30px;
}

.formulario__cuenta__monto{
  font-weight: 900;
}

.formulario__btn{
  margin-top: 20px;
  color: white;
  padding: 10px 50px;
  border-radius: 10px;
}

.btn__activo{
  background-color: #4b1582;
  cursor: pointer;
}

.bnt__inactivo{
  background-color: #4c158240;
}


/*  - - - - - - - - pagina de administracion - - - - - - - - - -  */
.contenedor__admin{
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
}

.imagen__contendor{
  margin: 0 auto;
  border-right: 1px solid rgba(0, 0, 0, 0.132);
  height: 100vh;
  padding: 20px;
}

/* .imagen__contendor img{
  padding: 5px;
} */

.contenido__contendor{
  padding: 20px;
}

/*  - - - - - - - - informacion de las ordenes del backend - - - - - - - - - -  */

.info__orden__contenedor{
  margin-top: 25px;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.12);
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.24);
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.24);
}

.datos__orden span{
  font-weight: 900;
}

.datos__orden__nombre{
  font-size: 15px;
}

.platillos__orden{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}

.platillos__data{
  font-weight: 900;
}

.actions__orden{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.costo__orden{
  background-color: #4b1582;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  text-align: center;
}

.actions__orden button{ 
  background-color: #facc16;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  text-align: center;
}
